# System files
/.DS_Store 
# vs files
/.vscode
# Executables files
/.out
# Lib files
/.a
# Temp files
/.swp
# Objrect files
/.o

# Folders
/subject
/eval
project/libft/libft_git
project/libft/libft_check
project/Born2beRoot
/project/get_next_line/test
/project/get_next_line/get_next_line/.DS_Store
/project/printf/printf/printfTester
/project/printf/ft_printf_test
/project/printf/printf-unit-test